@model Weather_WebApi.Models.Place.ZipInfo

<div class="grid-container justify-content-center">
        <table class=" w3-table w3-tiny">
            <tr class="">
                <th>City Name</th>
                <th>State Name</th>
                <th>Country Name</th>
                <th>ZipCode</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            <tr class="w3-medium w3-text-white">
                <td>@Html.DisplayFor(model => model.PlaceName)</td>
                <td>@Html.DisplayFor(model => model.State) (@Html.DisplayFor(model => model.StateAbbreviation))</td>
                <td>@Html.DisplayFor(model => model.Country) (@Html.DisplayFor(model => model.CountryAbbreviation))</td>
                <td>@Html.DisplayFor(model => model.ZipCode)</td>
                <td>@Html.DisplayFor(model => model.Latitude)</td>
                <td>@Html.DisplayFor(model => model.Longitude)</td>
            </tr>
        </table>
</div>