@model Weather_WebApi.Models.Weather.WeatherInfo

<div class="w3-center"><h4 class="w3-text-dark-gray font-weight-bold">Daily Weather Forecast </h4></div>

<div class="grid-container w3-small justify-content-center">
    <ul class="d-inline-flex overflow-auto list-unstyled">
        @for (int x = 0; x < Model.Data.Count(); x++)
        {
            var item = Model.Data[x];
            var icon = item.WeatherDetail.Icon;
            var icon_png = icon + ".png";

            <li>
                <div class="w3-padding w3-round-large w3-hover-shadow w3-margin w3-light-blue w3-display-container justify-content-center">
                    @{
                        var fullDate = item.ValidFullDate.ToShortDateString();
                        var today = DateTime.Now.ToShortDateString();
                        if (fullDate == today)
                        {
                            <div>
                                <span>Today</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                @{
                                    var dayOfWeek = item.ValidDay.DayOfWeek.ToString().Substring(0, 3);
                                    var actualDay = item.ValidDate.Day;
                                }
                                <span>@dayOfWeek @actualDay</span>
                            </div>
                        }
                    }
                    <div class="w3-center">
                        <img width="35" height="35" src="~/icons/coded/@icon_png" alt="Weather_Icon" />
                    </div>
                    <div class="w3-center">
                        &#128167; @Html.DisplayFor(model => item.Precipitation)%
                    </div>
                    <div class="w3-large w3-center"><span class="w3-text-red">&#x2B06;</span>@Html.DisplayFor(model => item.HighTemperature)°</div>
                    <div class="w3-large w3-center"><span class="w3-text-blue">&#x2B07;</span>@Html.DisplayFor(model => item.LowTemperature)°</div>
                </div>
            </li>
        }
    </ul>
</div>

@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">

        function getWeatherDataFarenheit() {
            $.ajax({
                type: "GET",
                url: 'api/weather',
                data: { lat: @Model.Latitude, lon: @Model.Longitude, units: "I" },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#weatherInfo').html(data);
                }
            });
        }

            function getWeatherDataMetric() {
            $.ajax({
                type: "GET",
                url: 'api/weather',
                data: { lat: @Model.Latitude, lon: @Model.Longitude, units: "" },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#weatherInfo').html(data);
                }
            });
        }
    </script>*@
